<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing-page.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <header>
      <i id="hamburger-icon" class="fa-solid fa-bars fa-2xl"></i>
      <div class="logo">
        <div class="hamburger-menu">
          <div class="menu-header">
            <i class="fa-solid fa-xmark fa-lg"></i>
            <a href="register">REGISTER</a>
            <a href="login">LOGIN</a>
          </div>
          <div class="products-hamburger">
            <a href="">
              <li>Tshirt</li>
            </a>
            <a href="">
              <li>Pants</li>
            </a>
            <a href="">
              <li>Hoodie</li>
            </a>
            <a href="">
              <li>Sweatshirt</li>
            </a>
            <a href="">
              <li>Accesories</li>
            </a>
          </div>
        </div>
        <a id="logoImg" href="/landing-page">
          <img src="/images/logo-transparent.png" alt="logo" />
        </a>
      </div>
      <ul id="productNames" class="productNames">
        <a href="">
          <li>Tshirt</li>
        </a>
        <a href="">
          <li>Pants</li>
        </a>
        <a href="">
          <li>Hoodie</li>
        </a>
        <a href="">
          <li>Sweatshirt</li>
        </a>
        <a href="">
          <li>Accesories</li>
        </a>
      </ul>
      <div class="headerIcons">
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        <i class="fa-regular fa-user fa-lg"></i>
        <i id="cart" class="fa-solid fa-cart-shopping fa-lg"></i>
        <div id="cartBox" class="cartBox">
          <p>CART (0)</p>
        </div>
      </div>
    </header>
    <div class="product-details">
      <div class="box-image">
        <div id="slider-left" class="slider-left">
          <i class="fa-solid fa-angle-left"></i>
        </div>

        <img src="/images/p1.webp" alt="" />

        <div id="slider-right" class="slider-right">
          <i class="fa-solid fa-angle-left fa-rotate-180"></i>
        </div>
      </div>

      <div class="box-details">
        <div class="desc-like">
          <div class="desc">Oversize Japanese Detailed unisex T-shirt</div>
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="review">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="rec">5 review</div>
        </div>
        <div class="item-price">
          <div class="discount">
            <div class="discount-percent">%5</div>
          </div>
          <div class="price">
            <p class="before-discount" style="text-decoration: line-through">
              $60
            </p>
            <p class="after-discount">$55</p>
          </div>
        </div>
        <div class="sizes">
          <div class="size-text"><p>Sizes</p></div>
          <div class="size">
            <div class="pick-size XS">XS</div>
            <div class="pick-size S">S</div>
            <div class="pick-size M">M</div>
            <div class="pick-size L">L</div>
            <div class="pick-size XL">XL</div>
            <div class="pick-size XXL">2XL</div>
            <div class="pick-size XXXL">3XL</div>
          </div>
        </div>

        <div class="quantity-add">
          <div class="counter">
            <div id="min" class="minus">-</div>
            <div id="num" class="count"></div>
            <div id="plus" class="plus">+</div>
          </div>
          <div class="add-button">
            <button class="add-btn">Add cart</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="content">
        <div class="left box">
          <div class="upper">
            <div class="topic">About us</div>
            <p>
              Wardrobe is a huge company which is producing high-end Clothes and
              Accessorys for its customers
            </p>
          </div>
          <div class="lower">
            <div class="topic">Contact us</div>
            <div class="phone">
              <a href="#"><i class="fas fa-phone-volume"></i>+48 729 609 855</a>
            </div>
            <div class="email">
              <a href="#"><i class="fas fa-envelope"></i>Wardrobe@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="middle box">
          <div class="topic">Our Services</div>
          <div><a href="#">Track shipments or view orders</a></div>
          <div><a href="#">Delivery costs and rules</a></div>
          <div><a href="#">Returns and Exchanges</a></div>
          <div><a href="#">Customer Service</a></div>
          <div><a href="#">Payment methods</a></div>
        </div>
        <div class="right box">
          <div class="topic">Support</div>
          <form action="#">
            <input type="text" placeholder="How can we help ?" />
            <input type="submit" name="" value="Send" />
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </form>
        </div>
      </div>
      <div class="bottom">
        <p>Copyright © 2023 <a href="#">Wardrobe</a> All rights reserved</p>
      </div>
    </footer>
  </body>
</html>

<script
  src="https://kit.fontawesome.com/a3d028a738.js"
  crossorigin="anonymous"
></script>

<script>
  //////////////// SIZE BUTTONS CODE ////////////
  let boxing = document.querySelectorAll(".pick-size");

  boxing.forEach((box, index) => {
    box.addEventListener("click", () => {
      boxing.forEach((b) => {
        b.classList.remove("active");
      });
      box.classList.toggle("active");
    });
  });
  /////////////////// COUNTER /////////////////
  let minus = document.getElementById("min");
  let numberDiv = document.getElementById("num");
  let plus = document.getElementById("plus");
  let counterNum = 1;

  numberDiv.innerHTML = `${counterNum}`;

  minus.addEventListener("click", () => {
    if (counterNum == 1) {
      return;
    } else {
      counterNum--;
      numberDiv.innerHTML = `${counterNum}`;
    }
  });
  plus.addEventListener("click", () => {
    if (counterNum == 10) {
      return;
    } else {
      counterNum++;
      numberDiv.innerHTML = `${counterNum}`;
    }
  });

  //Hamburger menu hide or show
  const hamburgerIcon = document.getElementById("hamburger-icon");
  const hamburgerMenu = document.querySelector(".hamburger-menu");
  const closeMenuIcon = document.querySelector(".menu-header .fa-xmark");

  hamburgerIcon.addEventListener("click", () => {
    hamburgerMenu.classList.toggle("active");
  });

  closeMenuIcon.addEventListener("click", function () {
    hamburgerMenu.classList.remove("active");
    body.style.backgroundColor = "";
  });

  //CART BOX SHOW OR HIDE//
  let cart = document.getElementById("cart");
  let cartBox = document.querySelector(".cartBox");

  cart.addEventListener("click", () => {
    cartBox.classList.toggle("active");
  });
</script>
