<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/landing-page.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body id="body" class="body">
    <header>
      <i id="hamburger-icon" class="fa-solid fa-bars fa-2xl"></i>
      <div class="logo">
        <div class="hamburger-menu">
          <div class="menu-header">
            <i class="fa-solid fa-xmark fa-lg"></i>
            <a href="register">REGISTER</a>
            <a href="login">LOGIN</a>
          </div>
          <div class="products-hamburger">
            <a href="">
              <li>Tshirt</li>
            </a>
            <a href="">
              <li>Pants</li>
            </a>
            <a href="">
              <li>Hoodie</li>
            </a>
            <a href="">
              <li>Sweatshirt</li>
            </a>
            <a href="">
              <li>Accesories</li>
            </a>
          </div>
        </div>
        <a id="logoImg" href="/landing-page">
          <img src="/images/logo-transparent.png" alt="logo" />
        </a>
      </div>
      <ul id="productNames" class="productNames">
        <a href="">
          <li>Tshirt</li>
        </a>
        <a href="">
          <li>Pants</li>
        </a>
        <a href="">
          <li>Hoodie</li>
        </a>
        <a href="">
          <li>Sweatshirt</li>
        </a>
        <a href="">
          <li>Accesories</li>
        </a>
      </ul>
      <div class="headerIcons">
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        <i class="fa-regular fa-user fa-lg"></i>
        <i id="cart" class="fa-solid fa-cart-shopping fa-lg"></i>
        <div id="cartBox" class="cartBox">
          <p>CART (0)</p>
        </div>
      </div>
    </header>
    <main>
      <div class="slider-one">
        <div class="recommended-heading">
          <h3>Trending Products</h3>
          <i
            class="fa-solid fa-arrow-trend-up fa-xl"
            style="color: #000000"
          ></i>
        </div>
        <div class="recommended-products">
          <div id="slider-left" class="slider-left">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="products-container"></div>
          <div id="slider-right" class="slider-right">
            <i class="fa-solid fa-angle-left fa-rotate-180"></i>
          </div>
        </div>
      </div>
      <div class="gridBoxes">
        <div class="box">
          <img src="/images/box1.jpg" alt="" />
          <h3>What to choose while buying a T-shirt?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque in.
          </p>
        </div>

        <div class="box">
          <img src="/images/box2retry.jpg" alt="" />
          <h3>How to wash a T-shirt without damaging the print?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque in.
          </p>
        </div>

        <div class="box">
          <img src="/images/box3.jpg" alt="" />
          <h3>What is the trend this year?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque in.
          </p>
        </div>
      </div>
      <div class="slider-one">
        <div class="recommended-heading">
          <h3>Recommended Products</h3>
          <i
            class="fa-solid fa-arrow-trend-up fa-xl"
            style="color: #000000"
          ></i>
        </div>
        <div class="recommended-products">
          <div id="slider-left" class="slider-left">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="products-container"></div>
          <div id="slider-right" class="slider-right">
            <i class="fa-solid fa-angle-left fa-rotate-180"></i>
          </div>
        </div>
      </div>
      <div class="ship">
        <div class="cargo">
          <i id="icon1" class="fa-solid fa-truck fa-2xl"></i>
          <p>Free shipping over $100</p>
        </div>
        <div class="payment">
          <i id="icon2" class="fa-solid fa-lock fa-2xl"></i>
          <p>Your payments are secure</p>
        </div>
        <div class="return">
          <i id="icon3" class="fa-solid fa-dollar-sign fa-2xl"></i>
          <p>Return within 14 days</p>
        </div>
      </div>
    </main>
    <footer>
      <div class="content">
        <div class="left box">
          <div class="upper">
            <div class="topic">About us</div>
            <p>
              Wardrobe is a huge company which is producing high-end Clothes and
              Accessorys for its customers
            </p>
          </div>
          <div class="lower">
            <div class="topic">Contact us</div>
            <div class="phone">
              <a href="#"><i class="fas fa-phone-volume"></i>+48 729 609 855</a>
            </div>
            <div class="email">
              <a href="#"><i class="fas fa-envelope"></i>Wardrobe@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="middle box">
          <div class="topic">Our Services</div>
          <div><a href="#">Track shipments or view orders</a></div>
          <div><a href="#">Delivery costs and rules</a></div>
          <div><a href="#">Returns and Exchanges</a></div>
          <div><a href="#">Customer Service</a></div>
          <div><a href="#">Payment methods</a></div>
        </div>
        <div class="right box">
          <div class="topic">Support</div>
          <form action="#">
            <input type="text" placeholder="How can we Help ?" />
            <input type="submit" name="" value="Send" />
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </form>
        </div>
      </div>
      <div class="bottom">
        <p>Copyright © 2023 <a href="#">Wardrobe</a> All rights reserved</p>
      </div>
    </footer>
  </body>
</html>

<script
  src="https://kit.fontawesome.com/a3d028a738.js"
  crossorigin="anonymous"
></script>

<script>
  const productsObj = [
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
    {
      description: "Japanese Detailed T-Shirt",
      beforePrice: 60,
      afterPrice: 54,
      imgSrc: "/images/p1.webp",
      href: "/landing-page/product-details",
    },
  ];

  const productsContainer = document.querySelectorAll(".products-container");

  productsContainer.forEach((container) => {
    productsObj.forEach((product, index) => {
      let AppendCards = document.createElement("div");
      AppendCards.classList.add("product-card");

      AppendCards.innerHTML = `
                <a href="${product.href}">
                  <img class="item-img" src="${product.imgSrc}" alt="Product Image" />
                  <div class="item-description">
                    <p>${product.description}</p>
                  </div>
                  <div class="item-price">
                    <div class="discount">
                      <div class="discount-percent">%5</div>
                    </div>
                    <div class="price">
                      <p class="before-discount" style="text-decoration: line-through;">
                        $${product.beforePrice}
                      </p>
                      <p class="after-discount">$${product.afterPrice}</p>
                    </div>
                  </div>
                </a>
              `;

      container.appendChild(AppendCards);
    });
  });

  let cart = document.getElementById("cart");
  let cartBox = document.querySelector(".cartBox");

  let body = document.getElementById("body");

  const hamburgerIcon = document.getElementById("hamburger-icon");
  const hamburgerMenu = document.querySelector(".hamburger-menu");
  const closeMenuIcon = document.querySelector(".menu-header .fa-xmark");

  const cartContainer = document.getElementById("cartBox");

  const itemImg = document.querySelectorAll(".item-img");
  ////////////////////////////////////////// SLIDER CODE PART //////////////////////////////////////////////////////////////////////////////

  const btnLeft = document.querySelectorAll("#slider-left");
  const btnRight = document.querySelectorAll("#slider-right");
  const cards = document.querySelectorAll(".product-card");

  const cardWidth = cards[0].offsetWidth + 25;

  productsContainer.forEach((container, sliderIndex) => {
    let index = 0;

    btnLeft[sliderIndex].addEventListener("click", () => {
      if (index > 0) {
        index--;
        container.style.transform = `translateX(-${index * cardWidth}px)`;
      }
    });

    btnRight[sliderIndex].addEventListener("click", () => {
      if (index < cards.length - 1) {
        index++;
        container.style.transform = `translateX(-${index * cardWidth}px)`;
      }
      if (index == 4) {
        index = -1;
      }
    });
  });
  /////////////////////////////////////////////////////////////////////////////////////

  //Hover effect for image change code//
  itemImg.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      item.src = "/images/p2.webp";
    });

    item.addEventListener("mouseleave", () => {
      item.src = "/images/p1.webp";
    });
  });
  ///////////////////////////////////////////////////////

  //Hamburger menu hide or show
  hamburgerIcon.addEventListener("click", () => {
    hamburgerMenu.classList.toggle("active");
  });

  closeMenuIcon.addEventListener("click", function () {
    hamburgerMenu.classList.remove("active");
    body.style.backgroundColor = "";
  });
  ///////////////////////////////////////////////////////
  //Cart box show
  cart.addEventListener("click", () => {
    cartBox.classList.toggle("active");
  });
</script>
